.row(ng-controller="HomeController")
  .col-sm-6
    %a(href="#/sites")
      %h1 Sites
    %a(href="/sidekiq")
      %h1 Work monitor
  .col-sm-6
    %h1#second_page_title Second page!
    %p This is the second page.
