%div(ng-controller="SiteController")
  .rox.clearfix(style="margin-top: 20px;")
  .row
    .col-sm-6
      .row(style="margin-top: 20px;")
      .col-sm-5.col-xs-12
        %h3(style="margin-top: -2px;") {{site().name}}
      .col-sm-4.col-xs-7.col-sm-offset-0.col-xs-offset-2
        %span.label(ng-class="{'label-success': site().status=='on', 'label-warning': site().status=='asleep', 'label-danger': site().status=='interruped', 'label-default': site().status=='off'}") {{site().status}}
        %span.badge(ng-if="site().mode != site().status") {{site().mode}}
        %span(ng-if="site().status == 'asleep'") {{site().scanning_schedule}}
        %span(ng-if="site().status == 'asleep' || site().status == 'on'") ({{site().scanning_status}})
      .col-sm-3.col-xs-3
        %span(style="float: right")
          %button.btn.btn-default.btn-xs(type="button" ng-if="site.mode != 'on'" ng-click="changeMode('on')")
            %span.glyphicon.glyphicon-play
          %button.btn.btn-default.btn-xs(type="button" ng-if="site.mode != 'forced'" ng-click="changeMode('forced')")
            %span.glyphicon.glyphicon-forward
          %button.btn.btn-default.btn-xs(type="button" ng-if="site.mode != 'off'" ng-click="changeMode('off')")
            %span.glyphicon.glyphicon-stop
  .row(style="margin-top: 20px;")
    .col-xs-12
      %ul#tabs.nav.nav-tabs{"data-tabs" => "tabs"}
        %li(ng-class="tab == 'seeds' ? 'active' : ''")
          %a(data-toggle="tab" ng-click="tab = 'seeds'") Seeds
        %li(ng-class="tab == 'latest-scans' ? 'active' : ''")
          %a(data-toggle="tab" ng-click="tab = 'latest-scans'") Latest scans
        %li(ng-class="tab == 'next-scans' ? 'active' : ''")
          %a(data-toggle="tab" ng-click="tab = 'next-scans'") Next scans
        %li(ng-class="tab == 'harvest' ? 'active' : ''")
          %a(data-toggle="tab" ng-click="tab = 'harvest'") Harvest
        %li(ng-class="tab == 'settings' ? 'active' : ''")
          %a(data-toggle="tab" ng-click="tab = 'settings'") Settings
      #my-tab-content.tab-content
        #seeds.tab-pane(ng-class="tab == 'seeds' ? 'active' : ''")
          %p(ng-if="seeds_and_scans.seeds.length == 0") No seeds. You should probably add a seed.
          %table.table
            %tr(ng-repeat="s in seeds_and_scans.seeds")
              %td {{s.url}}
              %td {{s.last_visited}}
              %td(ng-click="removeSeed(s)")
                %a Remove
        #latest-scans.tab-pane(ng-class="tab == 'latest-scans' ? 'active' : ''")
          %p(ng-if="seeds_and_scans.latest_scans.length == 0") Nothing scanned yet
          %table.table.table-condensed
            %tr(ng-repeat="s in seeds_and_scans.latest_scans")
              %td {{s.url}}
              %td {{s.last_visited}}
              %td {{s.seed ? "(seed)" : ""}}
        #next-scans.tab-pane(ng-class="tab == 'next-scans' ? 'active' : ''")
          %p(ng-if="seeds_and_scans.next_scans.length == 0") Nothing left to scan
          %table.table.table-condensed
            %tr(ng-repeat="s in seeds_and_scans.next_scans")
              %td {{s.url}}
              %td {{s.seed ? "(seed)" : ""}}
        #harvest.tab-pane(ng-class="tab == 'harvest' ? 'active' : ''")
        #harvest.tab-pane(ng-class="tab == 'settings' ? 'settings' : ''")

    
-#
      %form(role="form" name="form")
        .form-group(ng-if="site_name == 'new'")
          %label Site name
          %input#edit-site-name.form-control(type="text" placeholder="New site name: ggg.example.com" ng-model="site.name")
        .checkbox
          %label
            %input(type="checkbox") Use SSL (https://...)
        .form-group
          %label Expected encoding
          %input.form-control(type="text" placeholder="For example: UTF-8"model="site.encoding")
        .form-group
          %label Scanning time (leave empty for always)
          .row
            .col-sm-4
              %input.form-control(type="text" placeholder="21 for 9pm" ng-model="site.start_time")
            .col-sm-4
              %input.form-control(type="text" placeholder="6 for 6am" ng-model="site.end_time")
        .form-group(ng-repeat="rule in site.rules")
          %label(ng-if="$index == 0") Rules
          .input-group
            %input.form-control(type="text" placeholder="Input new rule regex" ng-model="rule.regex" )
            %span.input-group-addon(ng-click="removeRule(rule)")
              %span.glyphicon.glyphicon-remove
          .checkbox
            %label
              %input(type="checkbox") Positive
        .form-group
          %button.btn.btn-default(ng-disabled="!!site.rules.length && site.rules[site.rules.length - 1].regex == ''" ng-click="addRule(rule)") Add new rule
        .form-group
          %button.btn.btn-default(ng-click="save()") Save
          %button.btn.btn-default(ng-click="cancel()") Back to site list
          %button.btn.btn-default(confirmed-click="deleteSite()" ng-confirm-click="Are you absolutelly sure you want to delete a site and all its scans?") Delete this site!
    .col-sm-6
      .form-group
        %input.form-control(type="text" placeholder="Enter new seed url, example: /location" ng-model="new_seed.url" )
      .form-group
        %button.btn.btn-default(ng-click="addNewSeed()") New Seed

