%div(ng-controller="TagController")
  .row
    .col-xs-12
      .alert.alert-danger(role="alert" ng-if="error_message")
        {{error_message}}
  .row
    .col-sm-6.col-xs-12
      %div
        %p
          {{item.name}}
      %div
        %button.btn(ng-click="previousWord()" ng-disabled="item.index === 0") Previous
        %button.btn(ng-click="nextWord()" ng-disabled="!there_is_next") Next
