%div(ng-controller="TagController")
  .row
    .col-xs-12
      .alert.alert-danger(role="alert" ng-if="error_message")
        {{error_message}}
  .row
    .col-sm-6.col-xs-12
      -#%div(style="height: 70px; margin-bottom: 0px;margin-top: 20px;")
        %zt-textbox(zt-field="name" zt-update-success="handleSuccessfulNameChange()")
          %h3 {{item.data.name}}
      %zt-auto-textbox(zt-field="name" zt-update-success="handleSuccessfulNameChange()")
      %zt-auto-checkbox(zt-field="do_use_as_tag") Use as tag.
      %div
        %button.btn.btn-md.btn-link(ng-repeat="kw in item.keywords")
          %span {{kw.word}}
          %span.glyphicon.glyphicon-remove
      %div
        %button.btn.btn-md.btn-link
          %span Add new keyword
          %span.glyphicon.glyphicon-plus
      %zt-auto-checkbox(zt-field="do_use_as_keyword") Use as keyword.
      %zt-auto-checkbox(zt-field="do_use_as_product_description")
        Use as product description (lowest prioriy usage, if no other has yielded results).
      %zt-auto-checkbox(zt-field="do_ignore_word") Ignore.
      %button.btn.btn-default(ng-click="previousWord()" ng-disabled="item.is_first") Previous
      %button.btn.btn-default(ng-click="nextWord()" ng-disabled="item.is_last") Next
    .col-sm-6.col-xs-12
      %h3 Vocabulary, different UIs
      %ul
        %li
          %a(href="#tags")
            %h4 Single form, manual text field update
        %li
          %a(href="#tagsa")
            %h4 Single form, auto text field update
        %li
          %a(href="#tags/page/1")
            %h4 List, manual text update
        %li
          %a(href="#tagsa/page/1")
            %h4 List, auto text update
        %li
          %a(href="#tagform")
            %h4 Form update, single form
        %li
          %a(href="#tagform/new")
            %h4 Form for new item
        %li
          %a(href="#tagform/page/1")
            %h4 Form update, page
