%div(ng-controller="TagFormController")
  .row
    .col-xs-12
      .alert.alert-danger(role="alert" ng-if="error_message")
        {{error_message}}
  .row
    .col-sm-6.col-xs-12
      %ztf-form(lockable)
        %ztf-textbox(zt-field="name" zt-label="name") Name
        %ztf-checkbox(zt-field="do_use_as_tag") Use as tag.
        %ztf-subform(zt-field="keywords" zt-add zt-delete zt-title="Alternative keywords:" ng-if="item.copy.do_use_as_tag")
          %ztf-textbox(zt-field="word") Keyword
        %ztf-checkbox(zt-field="do_use_as_keyword") Use as keyword.
        %ztf-checkbox(zt-field="do_use_as_product_description")
          Use as product description (lowest prioriy usage, if no other has yielded results).
        %ztf-checkbox(zt-field="do_ignore_word") Ignore.
        %ztf-button(edit) Lock item
        %ztf-button(commit) Save
        %ztf-button(cancel)
      %button.btn.btn-default(ng-click="previousWord()" ng-disabled="item.is_first") Previous
      %button.btn.btn-default(ng-click="nextWord()" ng-disabled="item.is_last") Next