%div(ng-controller="TagPageController")
  .row
    .col-xs-12
      .alert.alert-danger(role="alert" ng-if="error_message")
        {{error_message}}
  .row
    .col-xs-12
      .row(ng-repeat="item in page_items")
        .col-sm-4.col-xs-12
          -#%zt-textbox.zt-inline(zt-field="name" zt-update-success="handleSuccessfulNameChange()") {{item.data.name}}
          %zt-auto-textbox.zt-inline(zt-field="name" zt-update-success="handleSuccessfulNameChange()")
        .col-sm-8.col-sm-offset-0.col-xs-11.col-xs-offset-1
          %zt-auto-checkbox.zt-inline(zt-field="do_use_as_tag") tag
          %zt-auto-checkbox.zt-inline(zt-field="do_use_as_keyword") keyword
          %zt-auto-checkbox.zt-inline(zt-field="do_use_as_product_description") description
          %zt-auto-checkbox.zt-inline(zt-field="do_ignore_word") ignore
  .row
    .col-xs-12
      %button.btn.btn-default(ng-click="prevPage()" ng-disabled="is_first_page()") <
      %button.btn.btn-default(ng-click="nextPage()" ng-disabled="is_last_page()") >
