.form-group.has-feedback()
  %span(ng-hide="form.editable")
    {{form.copy[ztField]}}
  .input-group(ng-show="form.editable")
    %input.form-control(ng-model="field_value" )
    %span.input-group-addon(ng-click="revertLocal()")
      %span.glyphicon.glyphicon-remove
      %span.glyphicon.glyphicon-warning-sign.text-danger(ng-show="status == 4" title="Could not save changes. Click to try again.")
      %span.glyphicon.glyphicon-ok

